 
.container {
    width: fit-content;
    margin-right: 0px;
    margin-left: 0px;
}

.heading {
    margin-top: 10px;
}

.intext {
    margin-top: 40px;
}

.input {
    border-radius: 2mm;
    margin-bottom: 10px;
    margin-top: 10px;
    
}



#col1 {
    background-color:#D8E3E7;
    margin: 0px;
    padding-bottom: 20px;
}

#col2 {
    background-color: rgb(157, 194, 241);   
}

